// Colors
$white: #ffffff;
$white-1: #fefefe;
$white-2: #f7f9fb;
$white-3: #e5e7ea;
$black: #000000;
$black-hover: rgba(0, 0, 0, 0.5);

//Border
$border-4px: 4px;
$border-8px: 8px;
$border-16px: 16px;
$border-50: 50%;

//Padding
$padding-4px: 4px;
